.body-romance > .about-us
    background: transparent
.romance-links
    display: flex
    flex-direction: column
    gap: 25px
    position: absolute
    left: 0
    z-index: 25
    &__link
        display: flex
        justify-content: space-between
        align-items: center
        gap: 20px
        padding: 30px
        background-color: #6831B3
        font-size: 20px
        font-weight: 500
        text-align: center
        text-transform: uppercase
        border-radius: 0 60px 60px 0
    &__link:hover
        background-color: #ffffff
        color: #240E3F
    &__link-color:hover
        color: #6831B3

.card-guide
    position: relative
    overflow: hidden
    border-radius: 20px
    & > img
        width: 100%
        height: 100%
        object-fit: cover
        display: block
    &__content
        display: flex
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 22%
        background: rgba(0, 0, 0, 0.7)
        padding: 6%
    &__title
        width: 50%
        font-size: 15px
        font-weight: 600
        white-space: nowrap
    &__views
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 10px
        font-size: 8px
        font-weight: 700
        color: #FF624A
    &__views span > img
        width: 10px
    &__views-box
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
    &__views-box > p
        font-size: 8px
        color: #686868
        text-align: right
.walkthrough
    &__tab-wrapper
        margin-bottom: 100px
    &__tabs
        margin-bottom: 35px
    &__tab
        text-transform: uppercase
        text-align: center
        font-size: 20px
        font-weight: 500
        padding: 15px
        border: 1px solid #ffffff
        border-radius: 20px
        width: 240px !important
        white-space: nowrap
        overflow: hidden
    &__tab-1
        text-transform: uppercase
        text-align: center
        font-size: 15px
        padding: 10px
        border: 1px solid #ffffff
        border-radius: 20px
        width: 240px !important
        white-space: nowrap
        overflow: hidden
    &__wraper
        display: flex
        gap: 90px
    &__wraper > .news-article__box2
        width: 30%
    &__title
        margin-bottom: 45px
    &__content > .news-article__data-author
        padding: 15px 50px
        border: 1px solid #ffffff
        border-radius: 20px
        flex-wrap: wrap
    &__content > .news-article__data-author > .news-article__like
        position: relative
        top: 0
    &__author
        display: flex
        border: 1px solid #ffffff
        border-radius: 20px
    &__text
        font-size: 15px
        font-weight: 200
        margin-bottom: 70px
    &__questions-box
        &:not(:last-child)
            margin-bottom: 100px
    &__questions-box1
        &:not(:last-child)
            margin-bottom: 40px
    &__questions-box > p
        font-weight: 200
    &__questions-title
        margin-bottom: 20px
    &__questions-list
        padding: 25px 30px
        border: 1px solid #ffffff
        border-radius: 20px
        background: linear-gradient(to right, transparent calc(100% - 20px), #6831B3 20px)
        margin-bottom: 20px
    &__questions-item
        display: flex
        position: relative
        padding-left: 30px
        &:not(:last-child)
            margin-bottom: 40px
    &__questions-item::before
        content: ""
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 15px
        height: 15px
        border-radius: 50%
        background-color: #FF624A
    &__questions-item > div
        font-size: 15px
        font-weight: 200
        padding-right: 5px
    &__questions-item > span
        font-size: 15px
        font-weight: 700

.walkthrough__tabs-1 .slick-dots button
    padding: 0
    font-size: 0
    margin: 0
    width: 8px
    height: 8px
    border: none
    border-radius: 50%
    background-color: #6831B3

.walkthrough__tabs .slick-dots button
    padding: 0
    font-size: 0
    margin: 0
    width: 8px
    height: 8px
    border: none
    border-radius: 50%
    background-color: #6831B3

.walkthrough__tabs > .slick-dots
    bottom: -20px
.walkthrough__tabs-1 > .slick-dots
    bottom: -30px
.walkthrough__content
    flex: 1 1 100%
    min-width: 0
    max-width: 100%
    box-sizing: border-box
.walkthrough__tab.tab--active
    background-color: #6831B3
    border: none
.walkthrough__tab-1.tab--active
    background-color: #6831B3
    border: none
.tabs-content.tabs-content--active 
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 20px
.tabs-content
    display: none
.romance-slider__slider-btnprev
    left: 0
.romance-slider__slider-btnnext
    right: 0
.slick-track
    gap: 20px
.romance-gallery
    margin-bottom: 120px

.slick-slide.slick-cloned
    width: 280px

.read-more
    padding-bottom: 30px
    &__item
        font-size: 15px
        font-weight: 700
        padding: 30px 0
        border-bottom: 1px solid #ffffff

.romance-gallery__slider
    margin: 0 70px
.romance-slider__gallery-btnnext
    right: -70px
.romance-slider__gallery-btnprev
    left: -70px
@media (min-width: 320px) and (max-width: 1260px)
    .romance-gallery__slider
        margin: 0 20px
    .romance-slider__gallery-btnnext
        right: -20px
    .romance-slider__gallery-btnprev
        left: -20px
.sidebar 
    background: transparent
    color: white
    padding: 20px
    border: 1px solid #575756
    border-radius: 20px
    position: relative

.slick-slide img
    width: 100%

.sidebar > .line-middle-2
    position: absolute
    left: 0
.sidebar__title 
    font-size: 25px
    margin-bottom: 15px
    text-align: center
    white-space: nowrap

.sidebar__search
    display: flex
    border: 2px solid #ff5e44
    border-radius: 20px
    overflow: hidden
    margin-bottom: 20px
    position: relative
    margin-top: 30px


.sidebar__search input
    flex: 1
    padding: 8px 12px
    border: none
    background: transparent
    color: #FF624A
    outline: none
    caret-color: #FF624A

.sidebar__search input::placeholder
    color: #FF624A

.sidebar__search button 
    background: none
    border: none
    cursor: pointer
    position: absolute
    right: 12px
    bottom: 0

.sidebar__nav ul 
    list-style: none
    padding: 0
    margin: 0


.sidebar__nav li 
    margin-bottom: 20px

.sidebar__nav a,
.toggle-submenu 
    display: flex
    align-items: center
    width: 100%
    background: none
    border: none
    color: white
    text-decoration: none
    font-size: 20px
    font-weight: 600
    cursor: pointer


.submenu 
    margin-top: 5px
    padding-left: 10px
    display: none

.submenu > li > a
    padding-left: 35px
    font-size: 15px
    font-weight: 200

.has-submenu.open .submenu 
    display: block

.arrow 
    font-size: 12px
    margin-left: 10px

.has-submenu.open .arrow 
    transform: rotate(90deg)

.search-header
    max-width: 1080px
    background: #2E2E30
    color: white
    border-radius: 20px
    position: relative
.search-header--romance
    background: #240E3F

.line-orange
    background-color: #FF624A
    height: 60px
    width: 100%
.top-bar 
    background: #6b32c4
    padding: 4.5% 6.5%
    display: flex
    align-items: center
    gap: 30px
    margin-bottom: 6%

.top-bar-romance
    background: #2E2E30
    padding: 4.5% 6.5%
    display: flex
    align-items: center
    gap: 30px
    margin-bottom: 6%

.top-bar__wrap 
    flex: 1
    display: flex
    align-items: center
    justify-content: space-between
    border: 2px solid rgba(255, 255, 255, 0.4)
    border-radius: 30px
    padding: 2% 4%


.burger-btn 
    display: flex
    flex-direction: column
    justify-content: center
    gap: 4px
    background: none
    border: none
    cursor: pointer
    padding: 0

.burger-btn span 
    width: 20px
    height: 2px
    background: white
    display: block


.top-bar__title
    color: white
    font-size: 30px
    text-align: center
    flex: 1
    margin: 0 10px


.close-btn 
    background: none
    border: none
    color: white
    font-size: 20px
    cursor: pointer
    line-height: 1

.bottom-bar
    padding: 5% 6%
    border-top: 1px solid #575756
    margin: 0 6.5%
    height: 100vh

.search-box 
    display: flex
    align-items: center
    background: transparent
    border: 2px solid #FF624A
    margin-bottom: 10%
    border-radius: 20px
    padding: 2% 4%


.search-box input
    width: 100%
    border: none
    background: transparent
    color: #FF624A
    font-size: 30px
    flex: 1
    outline: none


.search-btn 
    background: none
    border: none
    cursor: pointer

.search-btn svg 
    width: 20px
    height: 20px
    fill: none

@media (min-width: 320px) and (max-width: 1400px)
    .sidebar__title
        font-size: 20px
@media (min-width: 320px) and (max-width: 1280px)
    .romance-links
        display: none
@media (min-width: 320px) and (max-width: 1080px)
    .walkthrough__wraper
        flex-direction: column-reverse
        gap: 10px
    .walkthrough__wraper > .news-article__box2
        width: 100%
        display: flex
    .sidebar
        display: none

@media (min-width: 320px) and (max-width: 760px)
    .top-bar__title
        font-size: 20px
    .search-box > input
        font-size: 20px

@media (min-width: 320px) and (max-width: 460px)
    .walkthrough__tab
        font-size: 12px
        padding: 10px
    .walkthrough__tab-1
        font-size: 12px
        padding: 10px
    .walkthrough__questions-list
        padding: 15px
    .walkthrough__questions-item:not(:last-child)
        margin-bottom: 20px
    .walkthrough__content > .news-article__data-author
        padding: 20px
    .walkthrough__questions-item
        padding-left: 20px
    .walkthrough__questions-item::before
        width: 5px
        height: 5px
    .walkthrough__questions-title
        margin-bottom: 10px
    .read-more__item
        padding: 20px 0
    .walkthrough__tab > .slick-dots button
        padding: 0
        font-size: 0
        margin: 0
        width: 11px
        height: 11px
        border: 1px solid #fff
        border-radius: 50%
        background-color: transparent

