.title-h2
    font-size: 40px
    font-weight: 600
    color: #ffffff

.title-h4
    font-size: 30px
    font-weight: 600
    line-height: 32px
    color: #ffffff

.title-h5
    font-size: 50px
    font-weight: 600
    color: #ffffff
.title-h3
    font-size: 25px
    line-height: 24px
.title-h6
    font-size: 20px
    font-weight: 600
.padding-top
    padding-top: 60px
.width
    max-width: 453px
    height: 390px
    @media (min-width: 320px) and (max-width: 1010px)
        width: 350px
.width-2
    width: 330px
    @media (min-width: 950px) and (max-width: 1480px)
        width: 434px
.line105
    width: 105%
    height: 1px
    background: #FF624A
    position: absolute
    top: 20px
    @media (min-width: 320px) and (max-width: 1480px)
        width: 100%
.line100
    width: 100%
    height: 1px
    background: #FF624A
    position: absolute
    top: 20px
.line-middle
    width: .5px
    background: #706F6F
.line-middle-2
    width: 100%
    height: 1px
    background: #706F6F
.width-90
    width: 90%
.height
    height: 212px
    @media (min-width: 320px) and (max-width: 1480px)
        height: 270px