.title-h2
    font-size: 40px
    font-weight: 600
    color: #ffffff
    @media (min-width: 641px) and (max-width: 1270px)
        font-size: 30px
    @media (min-width: 320px) and (max-width: 640px)
        font-size: 26px

.title-h4
    font-size: 30px
    font-weight: 600
    color: #ffffff
@media (min-width: 320px) and (max-width: 760px)
    .title-h4
        font-size: 20px

.title-h5
    font-size: 50px
    font-weight: 600
    color: #ffffff
    @media (min-width: 320px) and (max-width: 1080px)
        font-size: 30px
.title-h3
    font-size: 25px
    line-height: 24px
.title-h6
    font-size: 20px
    font-weight: 600
.padding-top
    padding-top: 60px
    @media (min-width: 320px) and (max-width: 640px)
        display: none

.margin-bottom60
    margin-bottom: 60px

.margin-bottom
    margin-bottom: 30px

.line105
    width: 105%
    height: 1px
    background: #FF624A
    position: absolute
    top: 20px
    @media (min-width: 320px) and (max-width: 1480px)
        width: 100%
.line100
    width: 100%
    height: 1px
    background: #FF624A
    position: absolute
    top: 20px
.line-middle
    width: .5px
    background: #706F6F
    height: 140vh
    position: absolute
    right: 50%
@media (min-width: 1081px) and (max-width: 1760px)
    .line-middle
        right: 70%
.line-middle-2
    width: 100%
    height: 1px
    background: #706F6F
.width-100
    width: 100%


