@import "utilities.sass"
@import "romance.sass"
@import "romance-guide.sass"
html
    box-sizing: border-box

*, *::before, *::after
    box-sizing: inherit


a, a:link, a:visited
    text-decoration: none
a
    color: inherit
    display: inline-block

a:hover
    text-decoration: none

ul, ul li
    list-style: none
    margin: 0
    padding: 0

ol
    list-style: none
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6
    margin: 0

p 
    margin: 0

body
    background-color: #0E0E0F
    color: #FFFFFF
    font-family: Montserrat
    font-size: 15px
    font-weight: 400
    overflow-x: hidden
    min-width: 320px
.container
    max-width: 1810px
    margin: 0 auto
    padding: 0 15px


.width
    width: 30%
    @media (min-width: 320px) and (max-width: 1080px)
        width: 45%
        height: auto
    @media (min-width: 320px) and (max-width: 740px)
        width: 100%
.width-2
    width: auto

.header
    background-color: #2E2E30
    &__logo-sm
        display: none
    &__menu
        display: flex
        align-items: center
        justify-content: space-between
        padding: 42px 0 44px
    &__menu-list
        display: flex
        gap: 46px
        margin-left: 98px
    &__item
        text-transform: uppercase
    &__item-club
        width: 152px
        text-transform: uppercase
    &__search
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 5px
        border: 1px solid #706F6F
        border-radius: 30px
        padding: 6px 10px
        margin-left: 100px
    &__input
        background: transparent
        border: none
        min-width: 270px
        color: #ffffff
    &__language
        display: flex
        align-items: center
    &__language1
        display: grid
        gap: 8px
    &__btn
        font-size: 10px
        font-weight: 700
        background: transparent
        text-transform: uppercase
        color: #ffffff
        border: none
        padding: 3px 6px
    &__btn--active
        border: 1px solid #ffffff
        border-radius: 15px
@media (min-width: 320px) and (max-width: 1720px)
    .header__logo-img
        width: 180px
    .header__menu-list
        gap: 30px
    .header__menu-list
        margin-left: 40px
    .header__search
        margin-left: 30px
    .header__language
        margin-left: 30px
@media (min-width: 320px) and (max-width: 1400px)
    .header__item
        font-size: 13px
    .header__item-club
        font-size: 13px
        width: auto
    .header__input
        min-width: auto
    .header__menu-list
        gap: 25px
        margin-left: 35px
    .header__logo-img
        width: 160px
@media (min-width: 320px) and (max-width: 1200px)
    .header__input
        min-width: 270px
    .header__menu
        justify-content: space-evenly
        padding: 22px 0 24px
    .header__menu-list
        display: none
    .header__search
        height: 52px
    .header__logo-img
        display: none
    .header__logo-sm
        display: block
        width: 52px
@media (min-width: 320px) and (max-width: 1084px)
    .header__menu
        gap: 40px
        justify-content: space-evenly
@media (min-width: 320px) and (max-width: 800px)
    .header__search
        height: auto
    .header__menu
        gap: 20px
        padding: 24px 0 24px
    .header__logo-sm
        width: 40px
        height: 40px

@media (min-width: 320px) and (max-width: 640px)
    .header__search
        display: none

.menu__btn
    display: none
@media (min-width: 320px) and (max-width: 1200px)
    .menu__btn
        display: block
        background-color: transparent
        cursor: pointer
        border: none
    .menu__btn-line
        background: #ffffff
        border-radius: 3px
        height: 8px
        width: 75px
        margin: 8px 0
    .menu__btn-line2
        background: #ffffff
        border-radius: 3px
        height: 5px
        width: 45px
        margin: 5px 0
@media (min-width: 320px) and (max-width: 800px)
    .menu__btn-line
        width: 50px
        height: 4px


.header-bottom
    &__categories
        display: flex
        align-items: center
        justify-content: center
        gap: 60px
        color: #FF624A
        padding: 30px 0
    &__item
        display: flex
        align-items: center
        gap: 8px
    @media (min-width: 320px) and (max-width: 1084px)
        .header-bottom__categories
            padding: 15px 0
    @media (min-width: 320px) and (max-width: 780px)
        .header-bottom__categories
            gap: 20px
            flex-wrap: wrap


.breadcrumbs
    margin-bottom: 20px
    &__wrapper
        display: flex
    &__list-item
        display: inline-block
        padding-right: 16px
        margin-right: 10px
        position: relative
        line-height: 18px
        color: #706F6F
    &__list-item::after
        content: ''
        position: absolute
        right: 0
        bottom: 0
        background-image: url(../icons/part.svg)
        width: 6px
        height: 15px
    &__list-item:last-child::after
        display: none
    &__line
        flex-grow: 1
        height: .3px
        background: #706F6F


.banner-section
    margin-bottom: 100px
    &__slider-item
        display: block
        max-width: 1836px
        object-fit: cover
        min-height: 550px
    &__slider-box
        overflow: hidden
        border-radius: 10px
        position: relative
        min-height: 550px
    &__box-title
        display: flex
        justify-content: space-between
    &__slider-title
        width: 45%
        position: absolute
        bottom: 40px
        left: 35px
        z-index: 10
    &__slider-text
        width: 15%
        position: absolute
        bottom: 40px
        right: 35px
        z-index: 10
    &__slider-text > p
        text-align: right
        font-size: 10px
        color: #706F6F
    &__slider-data
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 10px
        font-weight: 700
        padding-bottom: 30px
        color: #FF624A
    &__box-title::after
        content: ""
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 34%, transparent 10%)
        position: absolute
        z-index: 5
        left: 0
        right: 0
        bottom: 0
        top: 0
@media (min-width: 320px) and (max-width: 1084px)
    .banner-section__slider-title
        width: 70%
    .banner-section__box-title::after 
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 38%, transparent 10%)
    .slick-dots
        bottom: -26px
@media (min-width: 320px) and (max-width: 780px)
    .banner-section__slider-box
        height: 408px

.banner-section__slider-btn,
.product-slider__slider-btn
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: transparent
    border: none
    margin: 0
    padding: 0
    z-index: 15
    cursor: pointer
.product-slider__slider-btnprev
    left: -20px
.product-slider__slider-btnnext
    right: -20px
.slick-dots
    position: absolute
    bottom: -50px
    left: 0
    right: 0
    text-align: center
.slick-dots li
    display: inline-block
    padding: 0 5px
.slick-dots button
    padding: 0
    font-size: 0
    margin: 0
    width: 47px
    height: 5px
    border: none
    border-radius: 10%
    background-color: #2E2E30

.slick-active li button
    background-color: #fff

.fact-day
    margin-bottom: 160px
    &__box
        display: grid
        grid-template-columns: 350px 2fr 3fr
        gap: 20px
        height: 350px
    &__box-1
        padding: 40px 50px 40px 35px
        background-color: #FF624A
        color: #0E0E0F
        border-radius: 20px
    &__box-1 > h3
        font-size: 25px
        margin-bottom: 70px
    &__box-1 > p
        font-size: 20px
        font-weight: 500
    &__box-2
        overflow: hidden
        border-radius: 20px
        position: relative
        background-repeat: no-repeat
    &__box-2::after
        content: ''
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 52%, transparent 10%)
        position: absolute
        z-index: 5
        left: 0
        right: 0
        bottom: 0
        top: 0
    &__box-2title
        position: absolute
        width: 70%
        bottom: 40px
        left: 35px
        z-index: 10
    &__box-2text
        width: 20%
        position: absolute
        bottom: 40px
        right: 35px
        z-index: 10
    &__box-2pr
        text-align: right
        font-size: 10px
        line-height: 15px
        color: #706f6f
    @media (min-width: 320px) and (max-width: 1480px)
        display: none


.height
    height: 212px

.news-game__box2
    width: 50%

.news-game
    margin-bottom: 160px
    &__box
        display: flex
        justify-content: space-between
        align-items: start
        gap: 100px
    &__box1
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 50%
    &__box2
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__title
        display: flex
        align-items: center
        gap: 18px
        margin-bottom: 65px
    &__article
        height: auto
        display: flex
        overflow: hidden
        border-radius: 20px
        margin-bottom: 35px
        background-color: #202023
    &__article > img
        width: 50%
    &__article-text
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 35px 50px 23px 40px
    &__article-box
        display: flex
        justify-content: space-between
        padding-top: 20px
    &__article-data
        color: #686868
        font-weight: 200
    &__article-consoles
        color: #FF624A
        font-weight: 600
        max-width: 160px
        text-align: center
    &__btn
        text-align: center
    &__btn > p
        margin-bottom: 20px
        font-weight: 100
        font-size: 15px
    &__button
        background: transparent
        border: .5px solid #b3adad
        border-radius: 10px
        width: 54px
        height: 30px
@media (min-width: 1081px) and (max-width: 1760px)
    .news-game__box
        gap: 40px
    .news-game__box1
        width: 70%
    .news-game__box2
        width: 30%
    .content-2
        display: none

@media (min-width: 640px) and (max-width: 1460px)
    .news-game
        margin-bottom: 60px

@media (min-width: 320px) and (max-width: 1080px)
    .news-game
        margin-bottom: 0
    .news-game__box
        flex-direction: column
        margin-bottom: 60px
    .news-game__box2
        width: 100%
    .news-game__box2 > .social-media
        margin-bottom: 60px
    .news-game__box1
        width: 100%
    .news-game__gaming
        display: flex
        flex-direction: column
        align-items: flex-start
    .line-middle
        display: none

@media (min-width: 320px) and (max-width: 840px)
    .news-game__article
        margin-bottom: 20px
    .news-game__title
        margin-bottom: 30px

@media (min-width: 320px) and (max-width: 640px)
    .news-game__article-consoles
        font-size: 10px
    .news-game__article-text
        padding: 20px
        width: 50%
    .news-game__article-data
        font-size: 10px

@media (min-width: 320px) and (max-width: 540px)
    .content-2
        display: none
    .news-game__content-2
        display: none

.content-1
    width: 100%
.content-2
    width: 100%
.releases
    &__title
        display: flex
        justify-content: flex-end
        gap: 18px
        margin-bottom: 65px
    &__title-start
        display: flex
        justify-content: flex-start
        gap: 18px
        margin-bottom: 65px
    &__tabs-data
        display: flex
        flex-direction: column
        align-items: center
    &__tabs
        display: flex
        justify-content: space-evenly
        gap: 30px
        margin-bottom: 30px
    &__tab
        width: 160px
        font-size: 15px
        font-weight: 800
        text-transform: uppercase
        padding: 10px
        text-align: center
        background-color: #FF624A
        color: #0E0E0F
        border-radius: 30px
    &__data
        display: flex
        justify-content: center
        gap: 20px
        border: 1px solid #ffffff
        border-radius: 20px
        padding: 20px
        margin-bottom: 35px
        width: 100%
    &__content
        display: flex
        justify-content: center
        align-items: center
        gap: 20px
@media (min-width: 1081px) and (max-width: 1760px)
    .releases__title
        justify-content: center
    .releases__tabs
        flex-wrap: wrap
    .releases__tabs
        gap: 20px
    .releases__tab
        width: auto
        font-size: 12px
@media (min-width: 320px) and (max-width: 1080px)
    .releases
        margin-bottom: 50px
    .releases__title
        justify-content: flex-start
@media (min-width: 320px) and (max-width: 760px)
    .releases__content
        gap: 30px
    .releases__title
        margin-bottom: 30px
    .releases__title-start
        margin-bottom: 30px
    .releases__tabs
        flex-wrap: wrap
        gap: 10px
    .releases__tab
        width: 140px
        gap: 15px
        font-size: 12px
    .releases__data
        padding: 10px


.card
    margin-bottom: 25px
    position: relative
    height: 50%
    border-radius: 0
    & > h3
        font-size: 15px
        padding-bottom: 10px
    &__img
        border-radius: 30px
        overflow: hidden
        margin-bottom: 15px
    &__img > img
        width: 100%
        height: auto
    &__text
        display: flex
        justify-content: space-between
    &__pc
        text-transform: uppercase
        color: #FF624A
    &__data
        font-weight: 200
@media (min-width: 320px) and (max-width: 640px)
    .card__img
        margin-bottom: 5px
@media (min-width: 540px) and (max-width: 840px)
    .card
        height: auto

.card-gradient::after
    content: ''
    background: linear-gradient(180deg, rgba(37, 37, 37, 0.4), rgba(14, 14, 15, 0.9))
    position: absolute
    z-index: 5
    left: 0
    right: 0
    bottom: 0
    top: 0


.passing
    &__box
        display: flex
        justify-content: center
        gap: 30px
        margin-bottom: 90px
@media (min-width: 320px) and (max-width: 1080px)
    .passing__box
        gap: 30px
        justify-content: center
        margin-bottom: 30px


.comments
    margin-bottom: 90px
    &__content
        height: 205px
        padding: 20px 20px 35px
        border: 1px solid #706F6F
        border-radius: 20px
        margin-bottom: 30px
    &__content-box
        display: flex
        gap: 20px
        margin-bottom: 30px
    &__content-box1
        width: 50%
    &__content-box1 > h4
        color: #FF624A
        font-weight: 700
        line-height: 16px
    &__content-box1 > p
        font-weight: 300
        padding-bottom: 5px
    &__content-text
        font-size: 13px
        font-weight: 200
@media (min-width: 1081px) and (max-width: 1760px)
    .comments__content-box1
        width: 100%
@media (min-width: 320px) and (max-width: 640px)
    .comments
        padding: 0 20px
    .comments__content-box1
        width: 100%
    .comments__content-box
        margin-bottom: 20px

.social-media
    border: 1px solid #706F6F
    border-radius: 20px
    display: flex
    justify-content: space-evenly
    align-items: center
    padding: 14px 0
    &__content
        text-align: center
    &__content > p
        padding-top: 10px
    &__line
        width: 1px
        height: 100px
        background-color: #706F6F

.romance-club
    &__content
        display: flex
        flex-direction: column
        margin-bottom: 160px
    &__img
        border-radius: 20px
        overflow: hidden
        margin-bottom: 40px
    &__img > img
        width: 100%
    &__box
        display: flex
        justify-content: space-between
    &__box-club
        display: flex
        align-items: center
        gap: 20px
        font-size: 30px
    &__link
        border: 3px solid #FF624A
        border-radius: 20px
        color: #FF624A
        font-size: 40px
        padding: 15px 20px
@media (min-width: 320px) and (max-width: 1084px)
    .romance-club__content
        margin-bottom: 100px
    .romance-club__content
        flex-direction: column-reverse
        gap: 30px
    .romance-club__link
        font-size: 30px
@media (min-width: 320px) and (max-width: 720px)
    .romance-club__content
        margin-bottom: 50px
    .romance-club__box
        flex-direction: column
        align-items: center
        gap: 20px
    .romance-club__link
        font-size: 20px
        padding: 5px 20px


.discussed
    margin-bottom: 70px
    &__btn
        border: none
        border-radius: 40%
        height: 26px
        font-weight: 700
        background-color: #FF624A
@media (min-width: 320px) and (max-width: 1080px)
    .discussed
        margin-bottom: 100px

.about-us
    margin-bottom: 135px
    padding: 90px 0
    background: #2E2E30
    &__list
        list-style: none
        counter-reset: item
        padding-left: 0
    &__item
        counter-increment: item
        margin: 1em 0
        position: relative
        padding-left: 35px
        font-weight: 200
    &__item::before
        content: counter(item)
        position: absolute
        left: 0
        top: 5px
        width: 22px
        height: 22px
        line-height: 1.5em
        border: .5px solid #ffffff
        border-radius: 50%
        text-align: center
        font-weight: 700
    &__important
        display: flex
        font-weight: 200
        color: #878787
    &__important-img
        padding-right: 15px
    &__bold
        color: #FF624A
        font-weight: 800
@media (min-width: 320px) and (max-width: 1080px)
    .about-us
        padding: 0
        background: transparent
    .about-us__item
        font-size: 12px
    .about-us__important
        font-size: 12px
    .about-us__important-img
        width: 40px

.footer-top
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr 1fr 1fr
    justify-content: space-between
    align-items: center
    padding-bottom: 25px
    border-bottom: 1px solid #706F6F
    &__logo
        grid-row: 1 / -1
    &__logo-link
        display: flex
        align-items: center
        gap: 35px
        max-width: 265px
        color: #878787
    &__social
        grid-row: 1 / -1
    &__list
        display: flex
        align-items: center
        justify-content: center
        gap: 45px
    &__contact
        grid-row: 1 / -1
        text-align: right
    &__contact-btn
        font-size: 20px
        font-weight: 700
        border: none
        border-radius: 30px
        padding: 12px 15px
        background-color: #FF624A
        min-width: 222px
@media (min-width: 640px) and (max-width: 1460px)
    .footer-top
        grid-template-rows: 1fr 1fr
        grid-template-columns: repeat(3fr, min-content)
    .footer-top__logo
        grid-row: 1 / 2
        grid-column: 1 / 3
    .footer-top__social
        grid-row: 2 / 3
        grid-column: 1 / 4
    .footer-top__contact
        grid-row: 1 / 2
        grid-column: 3 / 4
@media (min-width: 320px) and (max-width: 820px)
    .footer-top__list
        gap: 15px
        flex-wrap: wrap
@media (min-width: 320px) and (max-width: 640px)
    .footer-top
        grid-gap: 30px
    .footer-top__logo
        grid-column: 1 / -1
        display: flex
        justify-content: center
    .footer-top__social
        grid-row: 3 / 4
        grid-column: 1 / 4
    .footer-top__contact
        grid-row: 2 / 3
        grid-column: 1 / -1
        display: flex
        justify-content: center
    .footer-top__contact-btn
        font-size: 15px
        min-width: 130px


.footer-bottom
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    gap: 200px
    padding: 30px 0 100px
.footer-bottom__box
    display: grid
    grid-template-columns: repeat(4, max-content)
    gap: 110px
.footer-bottom__item
    font-weight: 700
    padding-bottom: 25px
    text-transform: uppercase
.footer-bottom__text
    text-align: right
    color: #878787
    font-weight: 200
@media (min-width: 320px) and (max-width: 1600px)
    .footer-bottom
        flex-wrap: wrap
        gap: 70px
        justify-content: space-evenly
    .footer-bottom__text
        text-align: center
        min-width: 70%
    .footer-bottom__item
        font-size: 12px
        padding-bottom: 10px

@media (min-width: 640px) and (max-width: 1080px)
    .footer-bottom__box
        gap: 50px
@media (min-width: 320px) and (max-width: 860px)
    .footer-bottom__box
        grid-template-columns: repeat(2, min-content)
@media (min-width: 320px) and (max-width: 640px)
    .footer-bottom__box
        display: flex
        flex-direction: column
        gap: 20px
    .footer-bottom__item
        text-align: center



/* стр. новости */

.news-game__page2
    display: grid
    grid-template-columns: 3fr 1fr
    align-items: flex-start
    gap: 130px
    margin-top: 100px
@media (min-width: 640px) and (max-width: 1460px)
    .news-game__page2
        gap: 90px
@media (min-width: 320px) and (max-width: 1080px)
    .news-game__page2
        grid-template-columns: 1fr

.news-game__page2 > .news-game__box1
    width: 100%

.news-game__box2-page2 > .social-media
    width: 330px
    margin-bottom: 70px

.news-game__box2-page2
    display: flex
    flex-direction: column
    align-items: flex-end
@media (min-width: 320px) and (max-width: 1080px)
    .news-game__box2-page2
        display: none

.comments__box-page2
    display: flex
    flex-direction: column
    align-items: flex-end

.comments__content-page2
    width: 100%
.comments__content-page2 > h4
    color: #FF624A
    font-weight: 700
    line-height: 16px
.comments__content-page2 > p
    font-size: 13px
.releases__title-page2
    display: flex
    justify-content: flex-start
    gap: 18px
    margin-bottom: 65px



/* стр.news-article */

.news-article
    &__wraper
        display: grid
        grid-template-columns: 1fr 3fr
        gap: 130px
    &__box1
        grid-column: 2 / 4
    &__box2
        display: flex
        flex-direction: column
    &__box2 > .social-media
        margin-bottom: 30px
    &__box-page2
        display: flex
        flex-direction: column
    &__img-author
        position: relative
    &__like
        position: absolute
        top: -60px
        right: 0
    &__img
        border-radius: 20px
        overflow: hidden
        margin-bottom: 30px
    &__img > img
        width: 100%
    &__data-author
        display: flex
        justify-content: space-between
        align-items: center
        gap: 20px
        margin-bottom: 70px
    &__author
        text-align: left
    &__author-1
        width: 145px
        border-bottom: .5px solid #ffffff
    &__author-text1
        font-weight: 700
        padding: 10px 0
    &__author-text2
        font-weight: 200
        padding: 10px 0
    &__social-media
        display: flex
        align-items: center
        gap: 40px
    &__like
        display: flex
        gap: 15px
    &__like-btn
        background: transparent
        border: .5px solid #706F6F
        border-radius: 30px
        padding: 6px 24px


.about-news
    display: flex
    gap: 60px
    margin-bottom: 60px
    font-weight: 200
    line-height: 22px
    &__content
        border: 1px solid #FF624A
        border-radius: 20px
        color: #FF624A
    &__title
        font-size: 20px
        font-weight: 700
        border-bottom: 1px solid #FF624A
        padding: 20px 60px
    &__list
        padding: 40px
    &__item
        padding-bottom: 30px
    &__start > p
        font-weight: 200
    & > .news-game__title
        margin-bottom: 65px

.body-news
    padding: 80px 0
.body-news > h3
    padding: 20px 0
.body-news > p
    padding-bottom: 20px

.important
    width: 70%
    background: linear-gradient(to top, #202023 84%, #FF624A 10%)
    padding: 52px 20px
    border-radius: 20px
    color: #FF624A
    display: flex
    position: relative
    &__text
        width: 90%
    &__text2
        position: absolute
        top: 30px
        right: 15px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 70%
    &__text2 > img
        height: 27px
        padding-top: 10px
    &__text2 > p
        color: #3C3C3B

.review
    margin-bottom: 100px
    &__box
        padding: 80px 80px 0
        border-radius: 20px 20px 0 0
        background-color: #202023
    &__point
        display: flex
        justify-content: space-between
        padding-bottom: 35px
        border-bottom: .5px solid #706F6F
    &__point > h3
        width: 65%
    &__point > p
        font-size: 100px
        color: #FFE38A
        font-weight: 700
    &__description
        padding: 35px 0
    &__description > p
        width: 65%
    &__flaws
        display: flex
        justify-content: space-between
        align-items: flex-end
        padding-bottom: 50px
    &__flaws-box
        display: flex
        width: 55%
    &__flaws-box > .line-middle
        margin: 0 50px
    &__flaw > h5
        font-size: 20px
        font-weight: 700
        color: #FF624A
        padding-bottom: 35px
    &__flaw-item
        position: relative
        padding-left: 20px
        padding-bottom: 20px
    &__flaw-item::before
        content: ''
        position: absolute
        left: 0
        top: 0.4em
        width: 10px
        height: 10px
        background-color: #FF624A
        transform: rotate(45deg)
    &__flaws-btn
        background: transparent
        border: none
    &__grade
        display: flex
        justify-content: space-between
        padding: 25px 80px
        border-radius: 0 0 20px 20px
        background-color: #FF624A
    &__grade-box
        display: flex
        flex-direction: column
        align-items: flex-start
    &__grade-numbers > .numbers-1
        font-weight: 200
        font-size: 50px
    &__grade-box > p
        max-width: 275px
        font-size: 20px
        font-weight: 700
        color: #202023
        padding-bottom: 10px
    &__grade-numbers
        display: flex
        padding: 10px 30px
        background-color: #202023
        font-size: 40px
        font-weight: 700
        border-radius: 20px

.leave-comment
    margin: 90px 0 215px
    &__title
        display: flex
        justify-content: flex-start
        gap: 10px
        margin-bottom: 35px
    &__form
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 10px
        margin-bottom: 40px
    &__textarea
        width: 100%
        padding: 30px
        background: transparent
        border-radius: 20px
        height: 190px
        color: #ffffff
    &__btn
        font-size: 12px
        font-weight: 700
        text-transform: uppercase
        background: #FF624A
        border-radius: 20px
        padding: 10px 15px
    &__comments
        display: flex
        flex-direction: column
        align-items: flex-end
        position: relative
    &__comment
        padding: 20px 30px
        background: transparent
        border: .5px solid #706F6F
        border-radius: 20px
        margin-bottom: 30px
    &__img
        position: absolute
        top: 230px
        left: 50px
    &__comment-box1
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__comment-box2
        display: flex
        align-items: center
        gap: 20px
        margin-bottom: 30px
    &__comment-box3
        width: 60%
    &__comment-box3 > h4
        line-height: 12px
        padding-top: 15px
        color: #FF624A
    &__numbers
        display: flex
        align-items: center
        gap: 10px
    &__number2-main
        font-weight: 700
        color: #0E0E0F
        background-color: #FF624A
        padding: 8px 15px
        border-radius: 20px 
    &__number2-main > p
        font-weight: 700
    &__number1
        color: #706F6F
        font-weight: 700
    &__text
        width: 80%
        font-weight: 200
        padding-bottom: 10px
    &__send
        background: transparent
        text-transform: uppercase
        font-size: 10px
        font-weight: 600
        color: #706F6F
        border: .5px solid #706F6F
        border-radius: 20px
        padding: 4px 8px
.none
    display: none
    @media (min-width: 320px) and (max-width: 1080px)
        display: block
    @media (min-width: 320px) and (max-width: 540px)
        display: none

.none-2
    display: block
    @media (min-width: 320px) and (max-width: 1080px)
        display: none

.wide-line
    width: 100%
    height: 45px
    background-color: #2E2E30
    margin-bottom: 130px

@media (min-width: 320px) and (max-width: 1460px)
    .news-article__wraper
        gap: 100px
    .news-article__social-media
        gap: 30px
@media (min-width: 320px) and (max-width: 1280px)
    .news-article__social-media
        gap: 20px
@media (min-width: 320px) and (max-width: 1080px)
    .news-article__wraper
        display: flex
        flex-direction: column-reverse
    .news-article__box1
        width: 100%
    .news-article__like
        position: absolute
        top: -60px
        right: 0
    .important
        width: 100%
    .review__description > p
        width: 100%
    .review__flaws-box
        width: 100%
    .review__grade-box > p
        font-size: 15px
    .review__grade-numbers
        font-size: 30px
    .review__grade-numbers > .numbers-1
        font-size: 30px
    .review__box
        padding: 40px 40px 0
    .review__grade
        padding: 25px 40px
    .leave-comment
        margin: 60px 0 0
@media (min-width: 320px) and (max-width: 860px)
    .news-article__img-author
        margin-top: 70px
    .leave-comment__text
        width: 100%
    .leave-comment__img
        display: none
@media (min-width: 320px) and (max-width: 740px)
    .news-article__like-btn
        padding: 5px 15px 3px
    .news-article__like-btn > img
        width: 20px
    .news-article__like
        top: -40px
    .news-article__data-author
        flex-wrap: wrap
        gap: 20px
    .news-article__social-media
        flex-wrap: wrap
    .about-news
        flex-direction: column
        align-items: flex-start
    .about-news__title
        padding: 15px 20px
    .about-news__list
        padding: 20px
    .about-news__item
        padding-bottom: 10px
    .body-news
        padding: 40px 0
    .review__flaws-box > .line-middle
        display: none
    .review__box
        padding: 20px 20px 0
    .review__point > h3
        width: 100%
    .review__point
        flex-direction: column
        padding-bottom: 10px
    .review__point > p 
        font-size: 70px
    .review__grade
        padding: 15px 20px
        flex-wrap: wrap
        gap: 20px
    .review__grade-numbers > .numbers-1
        font-size: 20px
    .review__grade-numbers
        padding: 10px
        font-size: 20px
    .review__flaws-box
        flex-wrap: wrap
    .leave-comment__comment
        padding: 20px
@media (min-width: 320px) and (max-width: 640px)
    .news-article__img-author
        margin-top: 50px
    .important
        padding: 40px 20px 30px
    .important__text
        height: 85%
    .important__text2
        height: 80%



/* страница account */

.account
    margin-bottom: 80px
    &__box1
        display: flex
        justify-content: space-between
        align-items: center
        gap: 50px
        padding: 90px 0 30px
    &__title
        display: flex
        align-items: center
        gap: 18px
    &__social > p
        color: #706F6F
        padding-bottom: 10px
    &__social-box
        display: flex
        gap: 30px
    &__social-box1
        text-align: center
        border: 1px solid #706F6F
        border-radius: 20px
        padding: 50px
        width: 50%
        max-width: 460px
    @media (min-width: 320px) and (max-width: 580px)
        .account__box1
            gap: 20px
        .account__social-box1
            padding: 20px
.form
    display: grid
    gap: 30px
    margin-bottom: 170px
    &__box1
        display: flex
        justify-content: space-between
        align-items: center
        gap: 50px
        max-width: 570px
    &__box2
        display: flex
        justify-content: space-between
        gap: 50px
        max-width: 570px
    &__box2 > .form__label
        padding-top: 10px
    &__input
        background: transparent
        border: 1px solid #706F6F
        border-radius: 20px
        padding: 10px
        min-width: 410px
        color: #ffffff
    &__input-box
        display: flex
        flex-direction: column
    &__input-link
        color: #FF624A
        padding: 15px 0 10px 10px
    &__btn
        width: 220px
        background: transparent
        color: #FF624A
        font-size: 20px
        font-weight: 600
        border: 1px solid #706F6F
        border-radius: 20px
        padding: 8px 10px
@media (min-width: 320px) and (max-width: 580px)
    .account__box1
        padding: 30px 0
    .form__box1, .form__box2
        flex-direction: column
        align-items: flex-start
        gap: 20px
    .form__input
        min-width: 100%
    .form__input-box
        width: 100%

/* страница author-card */


.author-card
    padding-top: 90px
    &__all > .account__title
        margin-bottom: 130px
    &__top
        display: grid
        justify-content: space-between
        grid-template-columns: repeat(3, min-content)
        grid-template-rows: repeat(3, min-content)
        margin-bottom: 40px
    &__author
        grid-row: 1 / 4
        display: flex
        justify-content: space-between
        gap: 100px
    &__author-img
        display: flex
        align-items: center
        gap: 45px
    &__author-p
        font-size: 20px
        color: #FF624A
        text-transform: uppercase
        border-bottom: 1px solid #FF624A
        display: inline-block
        padding-top: 45px
    &__about
        grid-row: 3 / 4
        grid-column: 2 / 4
        width: 70%
        padding-left: 50px
    &__tabs
        display: flex
    &__tab
        font-size: 20px
        font-weight: 600
        padding: 0 4em
        transition: all .3s
        &:not(:last-child)
            border-right: 1px solid #ffffff
    &__tab.tab--active
        color: #FF624A
    &__gaming
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-bottom: 60px
    &__gaming > .news-game__article
        width: 80%
@media (min-width: 841px) and (max-width: 1560px)
    .author-card__author
        grid-row: 1 / 2
        grid-column: 1 / 2
    .author-card__about
        grid-row: 2 / 3
        grid-column: 2 / 4
        width: 100%
        padding-left: 0
    .author-card__btn
        grid-row: 1 / 2
        grid-column: 3 / 4
    .author-card__tabs
        grid-row: 3 / 4
        grid-column: 1 / 4
        padding-top: 60px
    .author-card__author-img > img
        width: 144px
        height: 144px
    .author-card__author-p
        padding-top: 25px
    .author-card__gaming 
        align-items: flex-start
    .author-card__gaming > .news-game__article
        width: 100%
@media (min-width: 320px) and (max-width: 840px)
    .author-card__all > .account__title
        margin-bottom: 60px
    .author-card
        padding-top: 20px
    .author-card__top
        grid-template-columns: 1fr
    .author-card__author
        grid-row: 1 / 2
        grid-column: 1 / 2
    .author-card__about
        grid-row: 2 / 3
        grid-column: 1 / 2
        width: 100%
        padding-left: 0
    .author-card__btn
        grid-row: auto
        grid-column: 1 / 2
    .author-card__tabs
        grid-row: 3 / 4
        grid-column: 1 / 2
        padding-top: 30px
        flex-wrap: wrap
        justify-content: flex-start
        gap: 30px
        margin-bottom: 40px
    .author-card__tab
        padding: 0
    .author-card__author-p
        padding-top: 25px
        font-size: 15px
    .author-card__author-img > img
        width: 120px
    .author-card__tab:not(:last-child)
        border-right: none
    .author-card__author
        margin-bottom: 20px
    .author-card__gaming 
        align-items: flex-start
    .author-card__gaming > .news-game__article
        width: 100%





/* стр game-card */
.game-card
    &__subscribe
        display: flex
        justify-content: flex-end
        align-items: center
    &__subscribe-btn
        background: transparent
        border: none
    &__top
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(3, min-content)
        column-gap: 40px
        margin-bottom: 70px
    &__top-img
        grid-row: 1 / 3
    &__top-img > img
        width: 100%
        height: 100%
    &__top-content
        grid-column: 2 / 3
    &__top-title
        grid-column: 2 / 3
        display: flex
        align-items: flex-start
        gap: 35px
        padding-bottom: 40px
    &__h2
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 10px 0
    &__data
        color: #FF624A
        font-weight: 700
    &__grade
        font-size: 45px
        font-weight: 700
        color: #0E0E0F
        background-color: #FF624A
        border-radius: 20%
        padding: 30px 20px
    &__top-text
        padding-bottom: 25px
        font-weight: 200
    &__top-characteristics
        display: flex
        justify-content: space-between
        padding-bottom: 50px
    &__top-characteristics-box
        display: grid
        grid-template-columns: 105px max-content
        gap: 10px
        align-items: center
        padding-bottom: 5px
    &__top-rating2-3
        display: flex
        gap: 20px
    &__top-characteristics-1
        color: #575756
        font-weight: 700
    &__top-characteristics-2
        background-color: #2E2E30
        padding: 7px 15px
        border-radius: 20px
    &__choice
        margin-bottom: 50px
    &__choice-list
        display: flex
        justify-content: space-between
        gap: 5px
    &__choice-link
        white-space: nowrap
        font-size: 10px
        color: #FF624A
        border: 1px solid #FF624A
        border-radius: 20px
        padding: 6px 15px
    &__top-rating
        display: grid
        grid-template-columns: 3fr 1fr
        gap: 30px
        padding-top: 50px
    &__top-rating-list
        display: flex
        gap: 6px
    &__top-rating-btn
        background-color: #2E2E30
        font-size: 25px
        font-weight: 600
        color: #000000
        border: none
        border-radius: 20%
        padding: 8px
        width: 44px
    &__top-rating1, &__top-rating2, &__top-rating3
        display: flex
        flex-direction: column
        gap: 20px
        justify-content: space-between
    &__top-rating1, &__top-rating2, &__top-rating3 > p
        font-size: 10px
        font-weight: 700
    &__top-rating2, &__top-rating3
        border-left: 1px solid #706F6F
        padding-left: 30px
    &__top-rating2 > div
        color: #FF624A
        font-size: 40px
        font-weight: 600
    &__top-rating3 > div
        color: #FF624A
        font-size: 40px
        font-weight: 600
@media (min-width: 320px) and (max-width: 1480px)
    .game-card__top
        grid-template-columns: 1fr
    .game-card__top-img
        grid-row: 2 / 3
        margin-bottom: 45px
    .game-card__top-title
        grid-column: 1 / 2
        align-items: stretch
    .game-card__top-content
        grid-column: 1 / 2
        margin-bottom: 60px
    .game-card__tab + .game-card__tab
        margin-left: 30px
    .game-card__top-rating1, .game-card__top-rating2, .game-card__top-rating3 > p
        font-size: 15px
@media (min-width: 320px) and (max-width: 1080px)
    .game-card__grade
        font-size: 35px
        padding: 20px 15px
@media (min-width: 320px) and (max-width: 860px)
    .game-card__top
        margin-bottom: 30px
    .game-card__top-rating
        grid-template-columns: 1fr
    .game-card__top-characteristics
        flex-direction: column
    .game-card__choice-list
        flex-wrap: wrap
        justify-content: center
        gap: 10px
    .game-card__top-rating1, .game-card__top-rating2, .game-card__top-rating3 > p
        font-size: 10px
@media (min-width: 320px) and (max-width: 460px)
    .game-card__top-rating1, .game-card__top-rating2, .game-card__top-rating3
        gap: 10px
    .game-card__top-characteristics-1
        font-size: 12px
    .game-card__top-characteristics-2
        font-size: 10px
    .game-card__top-title
        align-items: center

.game-card__tabs
    text-align: center
    margin-bottom: 95px
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 10px
.game-card__tab
    font-size: 20px
    padding-bottom: 10px
.game-card__tab.tab--active
    border-bottom: 2px solid #FF624A
.game-card__tab + .game-card__tab
    margin-left: 50px
@media (min-width: 320px) and (max-width: 1480px)
    .game-card__tab + .game-card__tab
        margin-left: 30px

.everything-top
    display: grid
    grid-template-columns: 2fr 1fr
    gap: 45px
    margin-bottom: 160px
    &__title-box
        grid-column: 1 / 2
    &__title-all
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 70px
    &__box1
        grid-column: 1 / 2
    &__title
        display: flex
        gap: 20px
    &__link
        display: flex
        align-items: center
        gap: 10px
        color: #FF624A
    &__link > a
        border-bottom: 1px solid #FF624A
    &__box1 > p
        font-weight: 200
        padding-bottom: 15px
    &__box2
        grid-column: 2 / 3
        grid-row: 1 / 3
    &__box2 > iframe
        border-radius: 20px
@media (min-width: 320px) and (max-width: 1480px)
    .everything-top__title-box
        grid-column: 1 / 3
    .everything-top__box2
        grid-column: 2 / 3
        grid-row: 2 / 3
@media (min-width: 320px) and (max-width: 860px)
    .everything-top__title-all
        margin-bottom: 40px
    .everything-top__box1
        grid-column: 1 / 3
    .everything-top__box2 
        grid-column: 1 / 3
        grid-row: 3 / 4
    .everything-top
        margin-bottom: 100px
@media (min-width: 320px) and (max-width: 540px)
    .game-card__top-rating-btn
        width: 40px
        font-size: 20px
@media (min-width: 320px) and (max-width: 460px)
    .everything-top__title-all
        flex-direction: column
        align-items: flex-start
        gap: 20px
    .everything-top__link
        font-size: 12px
    .game-card__top-rating-btn
        width: 24px
        font-size: 15px
        padding: 5px
    .game-card__top-rating3 > div
        font-size: 30px
    .game-card__top-rating2 > div
        font-size: 30px


.facts
    display: flex
    gap: 50px
    margin-bottom: 160px
    @media (min-width: 320px) and (max-width: 1480px)
        flex-direction: column
    @media (min-width: 320px) and (max-width: 860px)
            margin-bottom: 100px
.facts__important
    width: 50%
.facts__text1
    text-align: center
    color: #0E0E0F
    font-weight: 600
    background-color: #FF624A
    border-radius: 20px 20px 0px 0px
    padding: 8px
.facts__text2
    display: flex
    align-items: flex-start
    gap: 70px
    height: 140px
    color: #FF624A
    background-color: #202023
    border-radius: 0px 0px 20px 20px
    padding: 30px 15px 30px 30px
@media (min-width: 320px) and (max-width: 1480px)
    .facts__important
        width: 100%
@media (min-width: 320px) and (max-width: 860px)
    .facts__text2
        height: auto
        gap: 20px
        padding: 20px 15px 30px 20px

.requirements
    position: relative
    margin-bottom: 135px
    & > .everything-top__title
        margin-bottom: 70px
    &__box
        display: flex
        justify-content: space-between
        gap: 45px
    &__all
        width: 100%
        position: relative
    &__all-title
        position: relative
        background-color: #0E0E0F
        z-index: 5
        width: max-content
        text-transform: uppercase
        color: #FF624A
        padding: 10px 20px
        border: 1px solid #FF624A
        border-radius: 20px
        margin-left: 30%
        margin-bottom: 50px
    &__item
        position: relative
        padding: 10px 70px
        background-color: #202023
        border-radius: 20px
        margin-bottom: 20px
    &__item::before
        content: ''
        position: absolute
        left: 45px
        top: 45%
        width: 7px
        height: 6px
        background-color: #FF624A
    &__text1
        font-weight: 200
        margin-bottom: 10px
    &__text2
        font-weight: 700
@media (min-width: 320px) and (max-width: 1480px)
    .requirements__box
        flex-direction: column
@media (min-width: 320px) and (max-width: 860px)
    .requirements
        margin-bottom: 60px
    .requirements__item::before
        left: 20px
    .requirements__item
        padding: 10px 40px
    .requirements__all-title
        margin-bottom: 20px
        margin-left: 20%
    .requirements > .everything-top__title
        margin-bottom: 40px
@media (min-width: 320px) and (max-width: 460px)
    .requirements__all-title
        margin-left: 5%

.everything-links
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-evenly
    gap: 20px
    background-color: #202023
    padding: 30px
    border-radius: 20px
    margin-bottom: 190px
    &__line
        width: 2px
        height: 50px
        background-color: #575756
@media (min-width: 320px) and (max-width: 860px)
    .everything-links__img > img
        height: 40px
    .everything-links
        margin-bottom: 60px
    .everything-links
        padding: 20px
@media (min-width: 320px) and (max-width: 640px)
    .everything-links__line
        display: none


/* стр calendar */

.calendar-top
    display: flex
    align-items: start
    justify-content: space-between
    padding-top: 70px
    margin-bottom: 130px
    &__title-box
        display: flex
        align-items: center
        gap: 18px
        margin-bottom: 20px
        white-space: nowrap
    &__title-text
        color: #FF624A
@media (min-width: 320px) and (max-width: 1084px)
    .calendar-top
        flex-direction: column
        align-items: center
    .calendar-top__title
        margin-bottom: 60px
    .calendar-top__title-box
        margin-bottom: 50px
    .calendar-top__title-text
        text-align: center
        font-size: 20px
@media (min-width: 320px) and (max-width: 860px)
    .calendar-top__title
        margin-bottom: 20px
@media (min-width: 320px) and (max-width: 640px)
    .calendar-top
        margin-bottom: 100px
    .calendar-top__title-box
        white-space: pre-wrap

.calendar-months
    display: flex
    flex-direction: column
    gap: 50px
    &__month
        display: flex
        align-items: center
        justify-content: space-between
        gap: 4.5vw
        background-color: #ffffff
        color: #FF624A
        font-size: 40px
        font-weight: 600
        padding: 18px
        border-radius: 20px
    &__month > .arrow
        background: none
        border: none
    &__month > span
        white-space: nowrap
    &__btn
        display: flex
        justify-content: space-between
    &__btn-icon
        background: transparent
        border: none
    &__btn-all
        background-color: #ffffff
        border: none
        border-radius: 20px
        padding: 10px 15px
@media (min-width: 320px) and (max-width: 1084px)
    .calendar-months__btn > .line-middle
        display: block
@media (min-width: 320px) and (max-width: 860px)
    .calendar-months
        gap: 30px
    .calendar-months__month
        font-size: 30px
        padding: 5px
@media (min-width: 320px) and (max-width: 640px)
    .calendar-months__month
        font-size: 24px


.calendar-games
    &__box
        margin-bottom: 150px
    &__data
        display: flex
        align-items: flex-end
        margin-bottom: 40px
    &__data-date
        font-size: 30px
    &__games
        display: flex
        flex-wrap: wrap
        gap: 30px
    &__card
        display: flex
        width: 30%
        height: auto
        border-radius: 20px
        overflow: hidden
    &__card > img
        width: 50%
        border-radius: 20px
    &__card-text
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 20px
        width: 50%
        padding: 30px 20px
        background-color: #202023
    &__card-text1
        display: flex
        justify-content: space-between
    &__card-text1 > div
        color: #686868
        font-weight: 200
    &__card-text1 > p
        color: #FF624A
        font-weight: 600
@media (min-width: 861px) and (max-width: 1460px)
    .calendar-games__card
        width: 48%
        height: auto
@media (min-width: 320px) and (max-width: 970px)
    .calendar-top
        padding-top: 30px
    .calendar-games__games
        justify-content: center
@media (min-width: 320px) and (max-width: 860px)
    .calendar-games__card
        width: 100%
        height: auto
@media (min-width: 320px) and (max-width: 640px)
    .calendar-games__box
        margin-bottom: 100px

